body{
  font-family: 'Lato', sans-serif;
}

.letra-blanca{
  color: white;
  text-shadow: 1px 2px #000;
  font-size: 60px;
}

.blanca{
  color: white;
  text-shadow: 1px 2px #000;
}

.no-float{
  float: none!important;
}

.float-right{
  float: right;
}

.index-background-welcome{
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 12.6%;
  padding-bottom: 12.6%;
}

.index-background-login{
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 17.9%;
  padding-bottom: 17.9%;
}

.index-background-signup{
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 16.5%;
  padding-bottom: 16.5%;
}


.container-login{
  margin-left: 20%;
  margin-right: 20%;
}

.header-container{
  background-color: transparent;
}

a:hover{
  color: grey;
  text-decoration: none;
  cursor: pointer;
}

.img-banner{
  max-width: 100%;
}

.navbar-default {
    background-color: #fff;
  }

.top-space{
  margin-top: 50px;
}

.justify{
  text-align: justify;
}

.content{
  background-color: white;
  padding: 2%;
  border: 1px solid #ccc;
  border-radius: 10px;
}



/* profile */

body{
background-color: #fAfAfA;
}

.contenedor-foto{
  padding-top: 10px;
}

.imagen-perfil{
    height: auto;
    width: 200px;
    box-shadow: 0px 0px 3px 3px #e7e4dc;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    border-radius: 50%;
}

.contenedor-foto .contenido-perfil ul {
  list-style: none;
}
.topnav{
  padding-top: 5px;
}
nav{
  font-size: 1.5em;
}

.txt-bio{
  font-size: 1.3em;
}

.section-publicaciones{
  text-align: center;
  padding-bottom: 55px;
  padding: 70px 0;
  ;
}

.img-publicacion{
  height: auto;
  width: 100px;
  box-shadow: 0px 0px 3px 3px #e7e4dc;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

ul, li {
  list-style: none;
}

.post{
  margin-top: 1em;
}
