body{
  font-family: 'Lato', sans-serif;
}

/* Tipografia */
.raleway{
  font-family: 'Raleway', sans-serif;
}

/* estilos para acomodar container */

.no-float{
  float: none!important;
}

.fondo-cont{
  background-color: white;
}

/*  detalles imagenes */

.float-right{
  float: right;
}

.circle{
  border-radius: 50%;
}

/* pagina de de bienvenida */

.header{
  display: table;
  position: relative;
  width: 100%;
  padding: 16.7%;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.text-vertical-center{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.btn-margin{
  margin-left: 15px;
  margin-right: 10px;
}

.s{
  font-family: 'Montserrat', sans-serif;
}



.no-border{
  border-color: transparent;
}


.white-letter{
  color: #FFFFFF;
}

.btn-blue{
  border-color: transparent;
  background-color: #2077cf;
  border-radius: 3px;
}

.btn-blue:hover{
  background-color: #3784d3;
}


/* barra de navegacion bienvenida*/

#tf-menu.navbar-default {
    background-color: rgba(248, 248, 248, 0);
    border-color: rgba(231, 231, 231, 0);
}

.margin-btn-top{
  margin-top: 23px;
}

.btn-green{
  background-color: #74bc60;
  border-radius: 3px;
}

.btn-green:hover{
    background-color: #3EAB6C;
  }

.margin-modal{
  margin: 100px auto;
}

/* estilos homepage*/

.bottom-space{
  margin-bottom: 15px;
}

.hr-largo{
  width: 100%;
  margin-top: -1px;
  border-bottom: 4px solid #c4c9c9;
  border-bottom-color: #6CA95C;
}

.no-margin-nav{
  margin-bottom: 0px;
}
